<ion-content>
  <img
    src="assets/icons/chevron-back-outline.svg"
    class="icon"
    alt="Back Icon"
    (click)="navigateBack()"
  />
  <div class="background-blur" [style.background-image]="'url(https://image.tmdb.org/t/p/w500' + movie.poster_path + ')'"></div>
  <div class="container">
    <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" />
    <ion-card-header>
      <ion-card-title>{{ movie.title }}</ion-card-title>
      <ion-card-subtitle>{{ movie.release_date }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>{{ movie.overview }}</p>
    </ion-card-content>
  </div>
</ion-content>
