<ion-content [fullscreen]="true">
  <div class="content">
    <img
      src="assets/icons/chevron-back-outline.svg"
      class="icon"
      alt="Back Icon"
      (click)="navigateBack()"
    />

    <div id="container">
      <input type="text" [(ngModel)]="searchQuery" (input)="searchMovies()" placeholder="Buscar películas..." class="searchbar"/>

      <ul *ngIf="movies.length > 0" class="movie-list">
        <li *ngFor="let movie of movies" class="movie-item" (click)="openMovieDetail(movie.id)">
          <div class="thumbnail">
            <img [src]="movie.image" alt="{{ movie.title }}"/>
          </div>
          <div class="movie-info">
            <h2>{{ movie.title }}</h2>
            <p>{{ movie.description }}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</ion-content>
