<ion-content [fullscreen]="true">
  <div class="content">
    <div class="header">
      <img
        src="assets/icons/chevron-back-outline.svg"
        class="icon"
        alt="Back Icon"
        (click)="navigateBack()"
      />
      <button (click)="openAddModal()" class="add-button">+</button>
    </div>

    <!-- Modal para agregar -->
    <div id="addMovieModal" class="modal">
      <div class="modal-content">
        <span class="close" (click)="closeAddModal()">&times;</span>
        <form (submit)="submitAddForm($event)">
          <label for="movieTitle">Título:</label>
          <input type="text" id="movieTitle" name="title" required>

          <label for="movieSynopsis">Sinopsis:</label>
          <textarea id="movieSynopsis" name="synopsis" required></textarea>

          <label for="movieReleaseDate">Fecha de lanzamiento:</label>
          <input type="date" id="movieReleaseDate" name="releaseDate" required>

          <label for="movieDirector">Director:</label>
          <input type="text" id="movieDirector" name="director" required>

          <label for="movieDuration">Duración (min):</label>
          <input type="number" id="movieDuration" name="duration" required>

          <label for="movieRating">Valoración:</label>
          <input type="number" id="movieRating" name="averageRating" min="0" max="10" step="0.1" required>

          <label for="movieImage">Imagen:</label>
          <input type="file" id="movieImage" name="image">

          <button type="submit" class="submit-button">Agregar</button>
        </form>
      </div>
    </div>

    <div id="container">
      <div class="movie-grid">
        <div *ngFor="let movie of myMovies; let i = index" class="movie-card">
          <div class="thumbnail">
            <img [src]="movie.imageUrl" alt="{{ movie.title }}">
          </div>
          <div class="movie-info">
            <h2><strong>{{ movie.title }}</strong></h2>
            <p>{{ movie.releaseDate }}</p>
          </div>
          <div class="buttons">
            <button (click)="deleteMovie(movie)" class="delete-button">Eliminar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
