/* General Styles */
.content {
  padding: 16px;
  overflow-y: auto;
  height: 100vh;
}

.content::-webkit-scrollbar {
  width: 8px;
}

.content::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.content::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.content::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin: 16px;
}

#container {
  padding: 16px;
  color: #000;
}

.add-button, .edit-button, .delete-button {
  margin: 8px 0;
  padding: 8px;
  cursor: pointer;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: white;
  transition: background-color 0.3s;
  font-size: 20px;
  font-weight: bold;
}

.add-button:hover, .edit-button:hover, .delete-button:hover {
  background-color: #0056b3;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.movie-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.thumbnail {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-info {
  padding: 16px;
  text-align: center;
}

.movie-info h2 {
  margin: 0;
  font-size: 1rem;
  color: #343a40;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-info p {
  margin: 4px 0 0;
  color: #6c757d;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.buttons {
  display: flex;
  justify-content: center;
  padding: 8px;
}

.edit-button, .delete-button {
  margin: 0;
  padding: 4px 8px;
  font-size: 14px;
  font-weight: normal;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#addMovieModal .modal-content {
  width: 70%;
  max-height: 90vh;
  overflow-y: auto;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 100%;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
}

.modal-content h2 {
  margin-top: 0;
  font-size: 24px;
  color: #333;
}

.modal-content label {
  display: block;
  margin: 15px 0 5px;
  font-size: 14px;
  color: #666;
}

.modal-content input,
.modal-content textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: transparent;
  color: #333;
}

.submit-button {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #0056b3;
}
