<div class="content">
  <img
    src="assets/icons/chevron-back-outline.svg"
    class="icon"
    alt="Back Icon"
    (click)="navigateBack()"
  />

  <div id="container">
    <div *ngIf="movies.length > 0; else noMovies" class="movie-grid">
      <div *ngFor="let movie of movies" class="movie-card" (click)="router.navigate(['/detail', movie.id])">
        <img *ngIf="movie.image" [src]="movie.image" [alt]="movie.title" />
        <h3>{{ movie.title }}</h3>
      </div>
    </div>

    <ng-template #noMovies>
      <p>No se encontraron películas para los filtros seleccionados.</p>
    </ng-template>
  </div>
</div>
