<ion-content [fullscreen]="true">
  <div class="icon-container">
    <img src="assets/icons/search-circle-outline.svg" (click)="navigateTo('search')" class="icon" alt="Search Icon">
    <img src="assets/icons/person-circle-outline.svg" (click)="navigateTo('profile')" class="icon" alt="Profile Icon">
  </div>

  <div id="container">
    <strong>Home</strong>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="navigateTo('library')">
      <img src="assets/icons/apps-outline.svg" class="icon" alt="Library Icon">
    </ion-fab-button>
  </ion-fab>
</ion-content>
